RewriteEngine On
RewriteBase /

# Redirect root to login.php
RewriteRule ^$ login.php [L]

# Block direct access to login.php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /login\.php\ HTTP/ [NC]
RewriteRule ^login\.php$ / [R=302,L]

# Rewrite /forgot_password_option to /forgot_password_option.php
RewriteRule ^forgot_password_option/?$ /forgot_password_option.php [L,QSA]

# Rewrite /email_link_form to /email_link_form.php
RewriteRule ^email_link_form/?$ /email_link_form.php [L,QSA]

# Rewrite /email_link_process to /email_link_process.php
RewriteRule ^email_link_process/?$ /email_link_process.php [L,QSA]

# Rewrite /reset-password to /reset-password.php
RewriteRule ^reset-password/?$ /reset-password.php [L,QSA]



# Rewrite /email_otp_form to /email_otp_form.php
RewriteRule ^email_otp_form/?$ /email_otp_form.php [L,QSA]

# Rewrite /email_otp_process to /email_otp_process.php
RewriteRule ^email_otp_process/?$ /email_otp_process.php [L,QSA]

# Rewrite /email_otp_verification to /email_otp_verification.php
RewriteRule ^email_otp_verification/?$ /email_otp_verification.php [L,QSA]

# Rewrite /reset_password_otp to /reset_password_otp.php
RewriteRule ^reset_password_otp/?$ /reset_password_otp.php [L,QSA]
