RewriteEngine On
RewriteBase /admin/

# Redirect root /admin to login.php but keep the URL clean
RewriteRule ^$ login.php [L]

# Block direct access to login.php if accessed directly
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /admin/login\.php\ HTTP/ [NC]
RewriteRule ^login\.php$ /admin [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Rewrite /admin/forgot_password_option to /admin/forgot_password_option.php
RewriteRule ^forgot_password_option/?$ /admin/forgot_password_option.php [L,QSA]

# Rewrite /admin/forgot_password to /admin/forgot_password.php
RewriteRule ^email_link_form/?$ /admin/email_link_form.php [L,QSA]

# Rewrite /admin/email_link_process to /admin/femail_link_process.php
RewriteRule ^email_link_process/?$ /admin/email_link_process.php [L,QSA]

# Rewrite /admin/email_link_process to /admin/femail_link_process.php
RewriteRule ^reset-password/?$ /admin/reset-password.php [L,QSA]


# Rewrite /admin/email_otp_form to /admin/email_otp_form.php
RewriteRule ^email_otp_form/?$ /admin/email_otp_form.php [L,QSA]

# Rewrite /admin/email_otp_process to /admin/email_otp_process.php
RewriteRule ^email_otp_process/?$ /admin/email_otp_process.php [L,QSA]

# Rewrite /admin/email_otp_verification to /admin/email_otp_verification.php
RewriteRule ^email_otp_verification/?$ /admin/email_otp_verification.php [L,QSA]

# Rewrite /admin/reset_password_otp to /admin/reset_password_otp.php
RewriteRule ^reset_password_otp/?$ /admin/reset_password_otp.php [L,QSA]